<?xml version="1.0"?>
<config>
    <modules>
        <Orba_Ceneoplpro>
            <version>1.2.1</version>
        </Orba_Ceneoplpro>
    </modules>
    <frontend>
        <routers>
            <ceneoplpro>
                <use>standard</use>
                <args>
                    <module>Orba_Ceneoplpro</module>
                    <frontName>ceneoplpro</frontName>
                </args>
            </ceneoplpro>
        </routers>
        <layout>
            <updates>
                <ceneoplpro>
                    <file>ceneoplpro.xml</file>
                </ceneoplpro>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orba_Ceneoplpro>
                    <files>
                        <default>Orba_Ceneoplpro.csv</default>
                    </files>
                </Orba_Ceneoplpro>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <ceneoplpro>
                <class>Orba_Ceneoplpro_Block</class>
            </ceneoplpro>
        </blocks>
        <models>
            <ceneoplpro>
                <class>Orba_Ceneoplpro_Model</class>
                <resourceModel>ceneoplpro_resource</resourceModel>
            </ceneoplpro>
            <ceneoplpro_resource>
                <class>Orba_Ceneoplpro_Model_Resource</class>
                <entities>
                    <mapping>
                        <table>orba_ceneopro_mapping</table>
                    </mapping>
                    <mapping_store>
                        <table>orba_ceneopro_mapping_store</table>
                    </mapping_store>
                    <category>
                        <table>orba_ceneopro_category</table>
                    </category>
                    <mapping_catalog_category>
                        <table>orba_ceneopro_mapping_catalog_category</table>
                    </mapping_catalog_category>
                </entities>
            </ceneoplpro_resource>
        </models>
        <resources>
            <ceneoplpro_setup>
                <setup>
                    <module>Orba_Ceneoplpro</module>
                    <class>Orba_Ceneoplpro_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ceneoplpro_setup>
            <ceneoplpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ceneoplpro_write>
            <ceneoplpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ceneoplpro_read>
        </resources>
        <helpers>
            <ceneoplpro>
                <class>Orba_Ceneoplpro_Helper</class>
            </ceneoplpro>
        </helpers>
        <cache>
            <types>
                <ceneoplpro module="ceneoplpro" translate="label description">
                    <label>Ceneo.pl Pro</label>
                    <description>Ceneo.pl Pro resources</description>
                    <tags>CENEOPLPRO</tags>
                </ceneoplpro>
            </types>
        </cache>
    </global>
    <default>
        <ceneoplpro>
            <config>
                <live>1</live>
                <use_ids>0</use_ids>
                <export_also_products_without_categories>0</export_also_products_without_categories>
                <export_out_of_stock_products>1</export_out_of_stock_products>
                <export_configurable_products>0</export_configurable_products>
                <xml_show_avail>1</xml_show_avail>
                <xml_show_set>1</xml_show_set>
                <xml_show_weight>1</xml_show_weight>
                <xml_show_basket>1</xml_show_basket>
                <xml_show_stock>1</xml_show_stock>
                <watermark>0</watermark>
                <image_option>image</image_option>
                <image_size>650</image_size>
            </config>
            <attr_core>
                <description>description</description>
            </attr_core>
            <attr_other>
                <Producent>manufacturer</Producent>
            </attr_other>
        </ceneoplpro>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Orba_Ceneoplpro>
                    <files>
                        <default>Orba_Ceneoplpro.csv</default>
                    </files>
                </Orba_Ceneoplpro>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ceneoplpro>
                                            <title>ORBA | Ceneo.pl Pro</title>
                                        </ceneoplpro>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ceneoplpro>
                    <file>ceneoplpro.xml</file>
                </ceneoplpro>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ceneoplpro before="Mage_Adminhtml">Orba_Ceneoplpro_Adminhtml</ceneoplpro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <orba_ceneoplpro_run_all_mappings>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ceneoplpro/mapping::runAll</model>
                </run>
            </orba_ceneoplpro_run_all_mappings>
            <orba_ceneoplpro_regenerate_feed>
                <schedule>
                    <cron_expr>30 0,6,12,18 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ceneoplpro/product::regenerateFeeds</model>
                </run>
            </orba_ceneoplpro_regenerate_feed>
        </jobs>
    </crontab>
</config>
